In [35]:
import numpy as np 
import pandas as pd

In [36]:
df = pd.read_excel('Result-Experiment-2.xlsx')
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,BMA-101,BME-102,BCH-100,BCS-101,BCH-151,BCS-151,BCH-MC-002,BHM-100,Unnamed: 13
0,Sr.No,Gender,SGPA(Sem 1),Total Credits,Earned Credits,4,2,4,4,1.5,2,0,0,Sem 1 Backlog Count
1,1,Male,8.6571,17.5,17.5,A+,A+,A+,A,A+,A,A,A,NaN
2,2,Male,8.2,17.5,17.5,A,A,A+,A,A+,B+,B+,P,NaN
3,3,Male,8.3143,17.5,17.5,A,A,A+,A,A+,A,A+,B+,NaN
4,4,Female,7.9429,17.5,17.5,A,A,A,A,B,A+,A,B,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113,113,Male,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114,114,Male,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
115,115,Male,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116,116,Male,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,C,NaN,NaN
117,117,Male,8.3429,17.5,17.5,A+,A+,A,A,A,A,A+,A,NaN

In [37]:
df.info

<bound method DataFrame.info of     Unnamed: 0 Unnamed: 1   Unnamed: 2     Unnamed: 3      Unnamed: 4 BMA-101  \
0        Sr.No     Gender  SGPA(Sem 1)  Total Credits  Earned Credits       4
1            1       Male       8.6571           17.5            17.5      A+
2            2       Male          8.2           17.5            17.5       A
3            3       Male       8.3143           17.5            17.5       A
4            4     Female       7.9429           17.5            17.5       A
..         ...        ...          ...            ...             ...     ...
113        113       Male            0            NaN             NaN     NaN
114        114       Male            0            NaN             NaN     NaN
115        115       Male            0            NaN             NaN     NaN
116        116       Male            0              0               0     NaN
117        117       Male       8.3429           17.5            17.5      A+

    BME-102 BCH-100 BCS-101 BCH-151 BCS-151 BCH-MC-002 BHM-100  \
0         2       4       4     1.5       2          0       0
1        A+      A+       A      A+       A          A       A
2         A      A+       A      A+      B+         B+       P
3         A      A+       A      A+       A         A+      B+
4         A       A       A       B      A+          A       B
..      ...     ...     ...     ...     ...        ...     ...
113     NaN     NaN     NaN     NaN     NaN        NaN     NaN
114     NaN     NaN     NaN     NaN     NaN        NaN     NaN
115     NaN     NaN     NaN     NaN     NaN        NaN     NaN
116     NaN     NaN     NaN     NaN     NaN          C     NaN
117      A+       A       A       A       A         A+       A

             Unnamed: 13
0    Sem 1 Backlog Count
1                    NaN
2                    NaN
3                    NaN
4                    NaN
..                   ...
113                  NaN
114                  NaN
115                  NaN
116                  NaN
117                  NaN

[118 rows x 14 columns]>

In [38]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'BMA-101', 'BME-102', 'BCH-100', 'BCS-101', 'BCH-151', 'BCS-151',
       'BCH-MC-002', 'BHM-100', 'Unnamed: 13'],
      dtype='object')

In [39]:
df = df.iloc[1:]
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,BMA-101,BME-102,BCH-100,BCS-101,BCH-151,BCS-151,BCH-MC-002,BHM-100,Unnamed: 13
1,1,Male,8.6571,17.5,17.5,A+,A+,A+,A,A+,A,A,A,NaN
2,2,Male,8.2,17.5,17.5,A,A,A+,A,A+,B+,B+,P,NaN
3,3,Male,8.3143,17.5,17.5,A,A,A+,A,A+,A,A+,B+,NaN
4,4,Female,7.9429,17.5,17.5,A,A,A,A,B,A+,A,B,NaN
5,5,Female,7.7429,17.5,17.5,B+,B+,A,A,A+,A,A,A,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113,113,Male,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114,114,Male,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
115,115,Male,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116,116,Male,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,C,NaN,NaN
117,117,Male,8.3429,17.5,17.5,A+,A+,A,A,A,A,A+,A,NaN

In [40]:
grade_mapping : dict = {'O':10, 'A+':9 , 'A':8 ,'B+':7,'B':6 ,'C':5 ,'D':4 , 'F':3,'P':4,'DET': 0}

In [41]:
df = df[df['Unnamed: 2'] != 0]
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,BMA-101,BME-102,BCH-100,BCS-101,BCH-151,BCS-151,BCH-MC-002,BHM-100,Unnamed: 13
1,1,Male,8.6571,17.5,17.5,A+,A+,A+,A,A+,A,A,A,NaN
2,2,Male,8.2,17.5,17.5,A,A,A+,A,A+,B+,B+,P,NaN
3,3,Male,8.3143,17.5,17.5,A,A,A+,A,A+,A,A+,B+,NaN
4,4,Female,7.9429,17.5,17.5,A,A,A,A,B,A+,A,B,NaN
5,5,Female,7.7429,17.5,17.5,B+,B+,A,A,A+,A,A,A,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,106,Female,8.4286,17.5,17.5,A,A+,A+,A,A+,A,O,A,NaN
107,107,Male,8.2286,17.5,17.5,A+,A,A,A,A,A,A,B+,NaN
108,108,Male,7.6,17.5,17.5,A,A,B+,A,B,A,A+,B+,NaN
109,109,Female,8.6286,17.5,17.5,A+,A,A+,A,O,A,A,A,NaN
117,117,Male,8.3429,17.5,17.5,A+,A+,A,A,A,A,A+,A,NaN

In [42]:
columns = ['BMA-101', 'BME-102', 'BCH-100', 'BCS-101', 'BCH-151', 'BCS-151','BCH-MC-002', 'BHM-100']

In [43]:
def convert_grades(df, columns, grade_mapping):
    for col in columns:
        if col in df.columns:
            df[col] = df[col].map(grade_mapping)
    return df

In [44]:
df = convert_grades(df.copy(), columns, grade_mapping)

In [45]:
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,BMA-101,BME-102,BCH-100,BCS-101,BCH-151,BCS-151,BCH-MC-002,BHM-100,Unnamed: 13
1,1,Male,8.6571,17.5,17.5,9,9.0,9,8,9.0,8,8.0,8,NaN
2,2,Male,8.2,17.5,17.5,8,8.0,9,8,9.0,7,7.0,4,NaN
3,3,Male,8.3143,17.5,17.5,8,8.0,9,8,9.0,8,9.0,7,NaN
4,4,Female,7.9429,17.5,17.5,8,8.0,8,8,6.0,9,8.0,6,NaN
5,5,Female,7.7429,17.5,17.5,7,7.0,8,8,9.0,8,8.0,8,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,106,Female,8.4286,17.5,17.5,8,9.0,9,8,9.0,8,10.0,8,NaN
107,107,Male,8.2286,17.5,17.5,9,8.0,8,8,8.0,8,8.0,7,NaN
108,108,Male,7.6,17.5,17.5,8,8.0,7,8,6.0,8,9.0,7,NaN
109,109,Female,8.6286,17.5,17.5,9,8.0,9,8,10.0,8,8.0,8,NaN
117,117,Male,8.3429,17.5,17.5,9,9.0,8,8,8.0,8,9.0,8,NaN

In [46]:
df = df = df.drop(columns = 'Unnamed: 13')
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,BMA-101,BME-102,BCH-100,BCS-101,BCH-151,BCS-151,BCH-MC-002,BHM-100
1,1,Male,8.6571,17.5,17.5,9,9.0,9,8,9.0,8,8.0,8
2,2,Male,8.2,17.5,17.5,8,8.0,9,8,9.0,7,7.0,4
3,3,Male,8.3143,17.5,17.5,8,8.0,9,8,9.0,8,9.0,7
4,4,Female,7.9429,17.5,17.5,8,8.0,8,8,6.0,9,8.0,6
5,5,Female,7.7429,17.5,17.5,7,7.0,8,8,9.0,8,8.0,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,106,Female,8.4286,17.5,17.5,8,9.0,9,8,9.0,8,10.0,8
107,107,Male,8.2286,17.5,17.5,9,8.0,8,8,8.0,8,8.0,7
108,108,Male,7.6,17.5,17.5,8,8.0,7,8,6.0,8,9.0,7
109,109,Female,8.6286,17.5,17.5,9,8.0,9,8,10.0,8,8.0,8
117,117,Male,8.3429,17.5,17.5,9,9.0,8,8,8.0,8,9.0,8

In [49]:
print(df.to_string())

    Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4  BMA-101  BME-102  BCH-100  BCS-101  BCH-151  BCS-151  BCH-MC-002  BHM-100
1            1       Male     8.6571       17.5       17.5        9      9.0        9        8      9.0        8         8.0        8
2            2       Male        8.2       17.5       17.5        8      8.0        9        8      9.0        7         7.0        4
3            3       Male     8.3143       17.5       17.5        8      8.0        9        8      9.0        8         9.0        7
4            4     Female     7.9429       17.5       17.5        8      8.0        8        8      6.0        9         8.0        6
5            5     Female     7.7429       17.5       17.5        7      7.0        8        8      9.0        8         8.0        8
6            6       Male     8.2286       17.5       17.5        9      8.0        8        8      8.0        8         8.0        7
7            7     Female          8       17.5       17.5        7      9.0        8        8      8.0        9         9.0        7
8            8       Male     7.8857       17.5       17.5        7      9.0        8        8      8.0        8         8.0        6
9            9       Male     8.3429       17.5       17.5        9      9.0        8        8      8.0        8         8.0        8
10          10       Male     8.4571       17.5       17.5        9      8.0        9        8      8.0        8         8.0        6
11          11       Male     7.6857       17.5       17.5        8      8.0        7        8      7.0        8         8.0        7
12          12     Female     8.5429       17.5       17.5        7      9.0        9        9      9.0        9         9.0        7
13          13       Male     7.6571       17.5       17.5        7      9.0        7        8      8.0        8         8.0        8
14          14       Male     7.3429       17.5       17.5        6      6.0        8        8      7.0        9         8.0        8
15          15       Male     7.2286       17.5       17.5        6      8.0        7        8      7.0        8         9.0        6
16          16       Male     8.3429       17.5       17.5        9      8.0        8        8      8.0        9         8.0        8
17          17       Male     7.8857       17.5       17.5        7      8.0        8        8      8.0        9         8.0        7
18          18       Male     8.4571       17.5       17.5        9      8.0        9        8      8.0        8         9.0        7
19          19     Female     7.7714       17.5       17.5        7      8.0        8        8      8.0        8         9.0        7
20          20       Male     7.8857       17.5       17.5        8      9.0        7        8      8.0        8         9.0        8
21          21       Male     6.7143       17.5       17.5        7      8.0        6        7      5.0        7         NaN        7
22          22       Male     8.2857       17.5       17.5        8      9.0        8        8     10.0        8         9.0        7
23          23       Male     7.7143       17.5       17.5        8      9.0        7        8      6.0        8         8.0        7
24          24       Male     8.4286       17.5       17.5        9      9.0        8        8      9.0        8         9.0        7
25          25     Female     7.8857       17.5       17.5        7      8.0        8        8      8.0        9         8.0        7
26          26       Male          8       17.5       17.5        8      6.0        8        9      8.0        8         9.0        9
27          27     Female     9.1143       17.5       17.5        9      9.0       10        9      9.0        8         9.0        7
28          28       Male     8.2286       17.5       17.5        9      8.0        8        8      8.0        8         7.0        7
29          29       Male     8.1143       17.5       17.5        9      8.0        8        8      8.0        7         8.0        4
30          30       Male     7.5714       17.5       17.5        9      8.0        7        7      7.0        7         8.0        7
31          31     Female     8.3143       17.5       17.5        9      9.0        8        8      9.0        7         9.0        8
32          32       Male     7.7714       17.5       17.5        8      8.0        7        8      8.0        8         8.0        8
33          33     Female     8.8857       17.5       17.5        9      9.0       10        8      9.0        8        10.0        7
34          34       Male     7.6571       17.5       17.5        8      8.0        8        7      8.0        7         9.0        7
35          35       Male          8       17.5       17.5        8      8.0        8        8      8.0        8         9.0        7
36          36     Female     8.1714       17.5       17.5        7      8.0        9        8     10.0        8         9.0        7
37          37     Female     8.8571       17.5       17.5        9      8.0       10        8     10.0        8         9.0        8
38          38       Male     6.8857       17.5       17.5        6      8.0        7        7      7.0        7         7.0        6
39          39       Male     6.6857       17.5       17.5        6      7.0        7        7      6.0        7         8.0        6
40          40       Male     6.2286       17.5       17.5        6      7.0        5        7      6.0        7         7.0        6
41          41       Male      6.625         16         16        5      8.0        7        7      NaN        7         8.0        6
42          42     Female     8.6571       17.5       17.5        9      8.0        9        8      9.0        9         9.0        8
43          43     Female     8.4286       17.5       17.5        8      8.0        9        8      9.0        9        10.0        8
44          44       Male     8.0286       17.5       17.5        8      8.0        8        8      7.0        9         7.0        7
45          45       Male     8.1143       17.5       17.5        8      8.0        8        8      8.0        9         9.0        8
46          46       Male     7.7429       17.5       17.5        8      9.0        7        7      9.0        8        10.0        8
47          47       Male     8.1143       17.5       17.5        8      9.0        8        8      8.0        8         9.0        8
48          48     Female          8       17.5       17.5        7      8.0        8        9      8.0        8        10.0        8
49          49       Male     7.3429       17.5       17.5        8      6.0        7        8      7.0        7         8.0        8
50          50       Male     8.4286       17.5       17.5        8      8.0        9        8      9.0        9        10.0        8
51          51       Male     8.5429       17.5       17.5        8      9.0        9        8      9.0        9        10.0        8
52          52       Male     8.2286       17.5       17.5        9      8.0        8        8      8.0        8        10.0        8
53          53       Male        7.2       17.5       17.5        8      6.0        7        7      8.0        7        10.0        8
54          54       Male     5.6571       17.5       17.5        5      6.0        4        7      6.0        7         0.0        3
55          55       Male     7.3714       17.5       17.5        8      7.0        8        7      6.0        7         7.0        8
56          56       Male     8.1143       17.5       17.5        9      9.0        8        7      8.0        8        10.0        8
57          57       Male     7.6571       17.5       17.5        8      7.0        8        7      8.0        8         9.0        8
58          58       Male          8       17.5       17.5        9      8.0        8        7      8.0        8         9.0        8
59          59       Male     7.4571       17.5       17.5        8      8.0        7        7      7.0        8         9.0        8
60          60       Male     8.0857       17.5       17.5        8      7.0        8        8      9.0        9         9.0        7
61          61     Female     8.4286       17.5       17.5        9      8.0        8        8      9.0        9        10.0        8
62          62     Female     8.6857       17.5       17.5        8      8.0        9        9      8.0       10         9.0        8
63          63       Male     7.6857       17.5       17.5        8      8.0        7        8      7.0        8         7.0        8
64          64       Male     6.8857       17.5       17.5        7      6.0        7        7      7.0        7         7.0        8
65          65       Male     8.7429       17.5       17.5        8      8.0        9        9     10.0        9         9.0        8
66          66       Male     8.3143       17.5       17.5        8      8.0        9        8      9.0        8         7.0        7
67          67       Male     7.5143       17.5       17.5        8      7.0        8        6      9.0        8         7.0        7
68          68       Male     8.3143       17.5       17.5        8      7.0        9        8      9.0        9         9.0        8
69          69       Male     7.8571       17.5       17.5        8      6.0        8        8      9.0        8         8.0        6
70          70       Male     8.6286       17.5       17.5        8      7.0        9        9     10.0        9         8.0        7
71          71       Male     8.0857       17.5       17.5        8      8.0        8        8      9.0        8         8.0        8
72          72       Male     8.5143       17.5       17.5        8      7.0       10        8     10.0        8         8.0        8
73          73       Male     6.9714       17.5       17.5        6      7.0        8        7      8.0        6         8.0        7
74          74     Female     7.7714       17.5       17.5        8      6.0        8        8      8.0        8         8.0        7
75          75       Male        8.2       17.5       17.5        9      7.0        8        8      9.0        8         6.0        8
76          76       Male     8.4286       17.5       17.5        8      8.0        9        8      9.0        9         8.0        8
77          77       Male     8.5143       17.5       17.5        8      8.0        9        8     10.0        9         9.0        7
78          78     Female     8.3714       17.5       17.5        9      9.0        8        9      7.0        7         8.0        7
79          79       Male        7.2       17.5       17.5        8      8.0        7        6      8.0        7         7.0        7
80          80       Male     7.5714       17.5       17.5        7      8.0        8        8      7.0        7         8.0        7
81          81     Female        8.2       17.5       17.5        8      9.0        8        8      9.0        8         9.0        7
82          82       Male        8.2       17.5       17.5        8      8.0        8        8      9.0        9         6.0        7
83          83       Male     7.8571       17.5       17.5        8      7.0        9        7      9.0        7         8.0        6
84          84     Female     8.7429       17.5       17.5        8      8.0        9        9     10.0        9         8.0        8
85          85       Male     8.5429       17.5       17.5        9      8.0        9        8      9.0        8         8.0        7
86          86       Male        8.2       17.5       17.5        8      7.0        9        8      9.0        8         7.0        7
87          87       Male        8.2       17.5       17.5        8      8.0        8        8      9.0        9         7.0        7
88          88       Male     6.9429       17.5       15.5        8      NaN        8        8      9.0        6         8.0        7
89          89       Male     7.7429       17.5       17.5        7      7.0        9        7      9.0        8         6.0        8
90          90       Male     8.1714       17.5       17.5        7      7.0        9        8     10.0        9         8.0        6
91          91       Male          8       17.5       17.5        7      8.0        9        8      8.0        8         7.0        7
92          92       Male     7.5143       17.5       17.5        7      7.0        8        7      9.0        8         6.0        6
93          93       Male        8.2       17.5       17.5        7      8.0        9        8      9.0        9         8.0        7
94          94       Male     8.3143       17.5       17.5        8      7.0        9        8      9.0        9         6.0        6
95          95     Female     8.5143       17.5       17.5        8      8.0        9        8     10.0        9         6.0        8
96          96       Male     8.3143       17.5       17.5        8      7.0        9        8      9.0        9         6.0        7
97          97       Male     7.4286       17.5       17.5        8      6.0        8        7      8.0        7         7.0        6
98          98       Male     7.5143       17.5       17.5        7      7.0        8        7      9.0        8         8.0        7
99          99       Male        7.4       17.5       17.5        7      7.0        8        7      9.0        7         7.0        7
100        100       Male     7.8571       17.5       17.5        8      7.0        8        8      9.0        7         6.0        7
101        101       Male     7.2857       17.5       17.5        7      6.0        8        7      9.0        7         6.0        7
102        102       Male     7.3143       17.5       17.5        7      7.0        8        7      8.0        7         6.0        7
103        103       Male     8.6571       17.5       17.5        9      9.0        9        8      9.0        8         9.0        8
104        104       Male     8.1714       17.5       17.5        9      7.0        8        8     10.0        7         9.0        7
105        105       Male     8.4286       17.5       17.5        8      9.0        9        8      9.0        8         7.0        8
106        106     Female     8.4286       17.5       17.5        8      9.0        9        8      9.0        8        10.0        8
107        107       Male     8.2286       17.5       17.5        9      8.0        8        8      8.0        8         8.0        7
108        108       Male        7.6       17.5       17.5        8      8.0        7        8      6.0        8         9.0        7
109        109     Female     8.6286       17.5       17.5        9      8.0        9        8     10.0        8         8.0        8
117        117       Male     8.3429       17.5       17.5        9      9.0        8        8      8.0        8         9.0        8

In [54]:
df = df.fillna(0)
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,BMA-101,BME-102,BCH-100,BCS-101,BCH-151,BCS-151,BCH-MC-002,BHM-100
1,1,Male,8.6571,17.5,17.5,9,9.0,9,8,9.0,8,8.0,8
2,2,Male,8.2000,17.5,17.5,8,8.0,9,8,9.0,7,7.0,4
3,3,Male,8.3143,17.5,17.5,8,8.0,9,8,9.0,8,9.0,7
4,4,Female,7.9429,17.5,17.5,8,8.0,8,8,6.0,9,8.0,6
5,5,Female,7.7429,17.5,17.5,7,7.0,8,8,9.0,8,8.0,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,106,Female,8.4286,17.5,17.5,8,9.0,9,8,9.0,8,10.0,8
107,107,Male,8.2286,17.5,17.5,9,8.0,8,8,8.0,8,8.0,7
108,108,Male,7.6000,17.5,17.5,8,8.0,7,8,6.0,8,9.0,7
109,109,Female,8.6286,17.5,17.5,9,8.0,9,8,10.0,8,8.0,8
117,117,Male,8.3429,17.5,17.5,9,9.0,8,8,8.0,8,9.0,8

In [55]:
df[columns]

     BMA-101  BME-102  BCH-100  BCS-101  BCH-151  BCS-151  BCH-MC-002  BHM-100
1          9      9.0        9        8      9.0        8         8.0        8
2          8      8.0        9        8      9.0        7         7.0        4
3          8      8.0        9        8      9.0        8         9.0        7
4          8      8.0        8        8      6.0        9         8.0        6
5          7      7.0        8        8      9.0        8         8.0        8
..       ...      ...      ...      ...      ...      ...         ...      ...
106        8      9.0        9        8      9.0        8        10.0        8
107        9      8.0        8        8      8.0        8         8.0        7
108        8      8.0        7        8      6.0        8         9.0        7
109        9      8.0        9        8     10.0        8         8.0        8
117        9      9.0        8        8      8.0        8         9.0        8

[110 rows x 8 columns]

In [56]:
df[columns].mean(axis=1)

1      8.500
2      7.500
3      8.250
4      7.625
5      7.875
       ...
106    8.625
107    8.000
108    7.625
109    8.500
117    8.375
Length: 110, dtype: float64

In [58]:
class_map : dict= {'10-9':1,'8-6': 2, '5-4' : 3 ,'3-0':1}